body {
  background-color:#ebebeb;
    color:#000000;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00ff66;
}

.task_date {
  background-color: white; 
  margin-bottom: 10px; 
  padding: 5px;
  font-size: 16px;
}

.task_title1 {
  border-left: outset 15px;
  border-left-color: #ffbb00;
  background-color: white;
  margin-bottom: 10px;
  padding-right: 250px;
  padding-top: 5px;
  font-size: 16px;
}

.task_title2 {
  border-left: outset 15px;
  border-left-color: #00a6ff;
  background-color: white;
  margin-bottom: 10px;
  padding-right: 250px;
  padding-top: 5px;
  font-size: 16px;
}

.task_title3 {
  border-left: outset 15px;
  border-left-color: #ff0044;
  background-color: white;
  margin-bottom: 10px;
  padding-right: 250px;
  padding-top: 5px;
  font-size: 16px;
}

.task_title4 {
  border-left: outset 15px;
  border-left-color: #00ff66;
  background-color: white;
  margin-bottom: 10px;
  padding-right: 250px;
  padding-top: 5px;
  font-size: 16px;
}

.btn { 
  margin-bottom: 10px; 
  padding: 5px;
  font-size: 16px;
}

.btn_up {
  margin-bottom: 10px; 
  padding: 5px;
  font-size: 16px;
  background-color: #90b7ff;
  border: solid #90b7ff;
}

.btn_dlt {
  margin-bottom: 10px; 
  padding: 5px;
  font-size: 16px;
  background-color: #ff9090;
  border: solid #ff9090;
}
