body {
  background-color:#ebebeb;
    color:#000000;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #ffbb00;
}

.task_date {
  background-color: white; 
  margin-bottom: 10px; 
  padding: 5px;
  font-size: 16px;
}

.task_title {
  border-left: outset 15px #ffbb00;
  background-color: white;
  margin-bottom: 10px;
  padding-right: 250px;
  padding-top: 5px;
  font-size: 16px;
}

.btn { 
  margin-bottom: 10px; 
  padding: 5px;
  font-size: 16px;
}

.btn_up {
  margin-bottom: 10px; 
  padding: 5px;
  font-size: 16px;
  background-color: #90b7ff;
  border: solid #90b7ff;
}

.btn_dlt {
  margin-bottom: 10px; 
  padding: 5px;
  font-size: 16px;
  background-color: #ff9090;
  border: solid #ff9090;
}